echo venv/ > .gitignore
echo env/ >> .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
echo *.mp4 >> .gitignore
echo *.mkv >> .gitignore
echo *.pt >> .gitignore
echo *.onnx >> .gitignore
echo *.h5 >> .gitignore